.page-header {
    height: 11em;
    margin; 0;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #dcd0c0;
}

body {
    background-color: #f4f4f4;
}

.nav {
    background-color: #373737;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    color: #f4f4f4;
}

.nav-tabs > li > a {
    color: #f4f4f4;
    font-weight: bold;
    font-size: 18px
}

.nav-tabs {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin-left: 0%;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #111111
}

.subt, #subtitle, .footnote {
    font-color: #373737;
    text-align: center;
    font-size: 35px;
}

#maindiv, #aboutdiv{
    font-size: 22px;
    margin-left: 18%;
    margin-right: 18%;
    text-indent: 50px;
    text-align: justify;
    color: #373737;
}

#maindiv ul {
    list-style-type: none;
    font-size: 20px;
    color: #373737;
}

#maindiv li {
    font-size: 30px;
    color: #c0b283;
}

#date {
    font-size:16px;
    color:#c0b283;
}

#pagenum {
    font-size: 20px;
    text-align: center;
}
