.page-header {
    margin: 0;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #D2BFA8;
}

#photo {
    position: relative;
    margin-top: 10px;
    border-radius: 15%;
}

body {
    background-color: #F9E8D5;
}

.nav {
    background-color: #2E3D35;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    color: #f4f4f4;
}

.nav-tabs > li > a {
    color: #f4f4f4;
    font-weight: bold;
    font-size: 18px
}

.nav-tabs {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin-left: 0%;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #787963
}

.subt, #subtitle, .footnote {
    font-color: #2E3D35;
    text-align: center;
    font-size: 35px;
}

#maindiv, #aboutdiv{
    font-size: 22px;
    margin-left: 18%;
    margin-right: 18%;
    text-indent: 50px;
    text-align: justify;
    color: #2E3D35;
}

#maindiv ul {
    list-style-type: none;
    font-size: 20px;
    color: #2E3D35;
}

#maindiv li {
    font-size: 30px;
    color: #787963;
}

#date {
    font-size:16px;
    color:#787963;
}

#pagenum {
    font-size: 20px;
    text-align: center;
}

